---
import Container from '@ui/Container.astro'

import { contactInfo } from '@data/index'
import { Icon } from 'astro-icon/components'
---

<header class="bg-secondary text-white">
	<Container class="flex items-center justify-between" padding="small">
		<div class="flex flex-col gap-3">
			<h1 class="text-6xl font-bold">{contactInfo.name}</h1>
			<p class="text-lg text-zinc-300">{contactInfo.title}</p>
		</div>
		<div class="flex flex-col gap-3.5">
			<div class="flex items-center">
				<Icon name="lucide:map-pin" class="mr-3 size-5" />
				<p>{contactInfo.city}</p>
			</div>
			<div class="flex items-center">
				<Icon name="lucide:mail" class="mr-3 size-5" />
				<a href={`mailto:${contactInfo.email}`}>{contactInfo.email}</a>
			</div>
			<div class="flex items-center">
				<Icon name="lucide:phone" class="mr-3 size-5" />

				<a href={`tel:${contactInfo.phone}`}>{contactInfo.phone}</a>
			</div>
			<div class="flex items-center">
				<Icon name="lucide:link" class="mr-3 size-5" />
				<a href={`https://${contactInfo.portfolio}`} target="_blank" rel="noopener noreferrer">
					{contactInfo.portfolio}
				</a>
			</div>
		</div>
	</Container>
</header>
